body{
 
}

/* Ajustamos el tamaño del contenedor del formulario */
.div__form {
    width: 500px;
    margin: 0 auto;
  }
  
  /* Damos estilo al encabezado del formulario */
  .header h1 , p {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Damos estilo al formulario */
  .form {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  /* Damos estilo a los elementos del formulario */
  .form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form input[type="subject"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .form button[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button[type="submit"]:hover {
    background-color: #45a049;
  }
  