<<<<<<< HEAD


=======
>>>>>>> d990c38c00322f1ef24b636c0f32e17ef225aa52
/* Ajustamos el tamaño del contenedor del formulario */

.div__form {
    width: 400px;
    margin: 0 auto;
}


/* Damos estilo al encabezado del formulario */

.header h1,
p {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}


/* Damos estilo al formulario */

.form {
    border: groove 1px rgb(33, 32, 32);
    border-radius: 2em;
    padding: 0 40px 60px;
    margin: 10px;
}


/* Damos estilo a los elementos del formulario */

.form label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="subject"] {
    margin: 10px;
    width: 100%;
    height: 20px;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form textarea {
    margin: 10px;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

.form button[type="submit"] {
    float: right;
    margin: 10px;
    width: 50%;
    background-color: #4caf50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    background-color: #45a049;
}