<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap" rel="stylesheet">
</head>



<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .logo {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: black;
        color: white;
        font-size: 3rem;
    }
    
    .logo h1 {
        align-items: center;
        margin: auto;
    }
    
    .header {
        width: 100%;
        height: 100px;
    }
    
    .container {
        /* display: flex;
        height: 100%;
        width: 100%; */
        line-height: 1.5;
        text-align: justify;
        margin: auto;
    }
    
    #photoLogo {
        height: 300px;
        padding: 20px;
        border-radius: 30px;
        float: left;
    }
    
    .box {
        /* border: solid 1px black;
        width: 100%;
        height: 250px;
        background-color: deeppink; */
    }
    
    footer {
        width: 100%;
        background-color: black;
    }
    
    .barnavegador {
        background-color: black;
        color: white;
        width: 100%;
        height: 80px;
    }
    
    .barnavegador>ul {
        display: flex;
        justify-content: center;
    }
    
    .barnavegador>ul>li {
        margin: 10px;
        padding-top: 10px;
        font-size: 1.2rem;
        list-style: none;
        cursor: pointer;
    }
    
    .barnavegador>ul>li:hover {
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    }
    /* .photoMiddle {
        
        width: 200px;
        height: 200px;
        margin-top: 50px;
        margin-right: 20px;
        border: 1px solid black;
       
    } */
    
    .introText {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        grid-column: 1 / 3;
    }
    
    .introText>p {
        font-family: "Times New Roman", serif;
        font-size: 18px;
        line-height: 1.5;
    }
    
    .box {
        height: 750px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        /* overflow: hidden;
        overflow: scroll; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
    }
    
    .photoMiddle {
        width: 100%;
        height: 350px;
        margin: 20px auto;
    }
    
     ::-webkit-scrollbar {
        width: 0.2em;
        background-color: transparent;
    }
    
    .boxT {
        overflow: hidden;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    .logo>h1>p {
        text-align: center;
        font-size: 0.8em;
        font-family: 'Overlock SC', cursive;
        display: inline-block;
    }
    
    .logo>h1 {
        text-align: center;
    }
</style>

<div>

    <div class="logo">

        <h1>Grand Theft Auto VIII
            <p>Caribbean Paradises </p>
        </h1>


        <img src="/img/characterDr.jpg" alt="" id="photoLogo">


    </div>

    <div class="header">
        <nav class="barnavegador">
            <ul>
                <li>
                    <a href=""></a>Home
                </li>
                <li>
                    <a href=""></a>Contact us
                </li>
                <li>
                    <a href=""></a>About
                </li>
            </ul>
        </nav>

    </div>

    <div>

        <div class="container">

            <div class="introText">

                <div class="box1 box">
                    <img src="/img/characterDr2.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>"Welcome to Santiago de los Caballeros, One of the largest city in the Dominican Republic. My name is Manuel, but everyone just calls me "Manny." I grew up on the streets of this city, learning how to survive in a place where the
                            only law is the law of the jungle. I learned how to hustle, how to fight, and how to make a quick peso any way I could. But as I got older, I realized that there was more to life than just scrapping and stealing. I wanted something
                            more - something bigger. So I turned to the only thing I knew how to do well: crime. I worked my way up through the ranks, building a network of connections and allies that helped me take control of the city's underground.
                            Now, I'm the most powerful man in Santo Domingo. But with great power comes great danger, and there are always those who want to take me down. I'll do whatever it takes to protect my empire and my people. Are you ready to join
                            me on this wild ride? Let's do this."</p>

                    </div>

                </div>

                <div class="box2 box">
                    <img src="/img/characterDr7.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>
                            Lala is a strong-willed and independent woman who has had to fight for everything she's achieved in life. She grew up in a tough neighborhood, and from a young age, she learned to be resourceful and self-reliant. She's fiercely intelligent and driven,
                            and she's not afraid to speak her mind or take risks. In terms of appearance, Lala is in her late twenties or early thirties. She has long, curly black hair that she usually keeps tied back, and her striking dark eyes are always
                            filled with intensity and focus. She's tall and athletic, with a fit and toned body. She has a bold sense of fashion, often wearing bold colors and patterns. Lala is a talented hacker and a tech-savvy person, she's a woman
                            of many talents, but her real passion is for social justice. She is a vigilante hacker that uses her skills to take down corrupt organizations and individuals, using her hacking skills and network of contacts to uncover information
                            and evidence that can be used to bring them to justice. She's a force to be reckoned with, and her enemies know to fear her. Lala's past has made her a bit of a loner, and she has trust issues and is reluctant to form close
                            relationships. But when she does form a connection with someone, she'll go to great lengths to protect and support them. She's fiercely loyal to those she cares about and will do anything to keep them safe. She is a complex
                            and multifaceted character, with a rich backstory, and her actions will be influenced by her personal beliefs and experiences. The players will have the opportunity to interact with Lala throughout the game, make choices that
                            will affect the outcome of the story, and the player's actions will have consequences in the gameplay and the story
                        </p>
                    </div>
                </div>

                <div class="box3 box"><img src="/img/characterDr3.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>
                            The story follows Manny, a small-time crook and street hustler, as he works his way up in the criminal underworld of the city. Manny is a master of deception and manipulation, using his wit and charm to get what he wants. He's always looking for the next
                            big score, and he'll do whatever it takes to get it. At the beginning of the game, Manny is working with his crew, a group of other small-time criminals who share his love of the criminal life. Together, they plan and execute
                            a series of heists and scams, each one more daring and ambitious than the last. Manny's quick thinking and leadership skills help the crew to pull off some major scores, earning them a reputation as the most successful criminal
                            group in the city. As Manny's fame and fortune grow, so do his ambitions. He starts to crave more power and influence, and he begins to make connections with some of the city's most powerful and dangerous criminal organizations.
                            Manny's rise to the top is not without its challenges, as he faces off against rival gangs, corrupt politicians, and ruthless law enforcement. But Manny is always one step ahead, using his intelligence and cunning to outsmart
                            his enemies and solidify his position as a leader in the criminal underworld. Throughout the game, players will have the opportunity to experience the gritty and dangerous criminal world of the city through Manny's eyes. They'll
                            be able to carry out a variety of missions, from heists and scams to underground street racing and illegal arms dealing. They'll also have the chance to customize Manny's appearance and weapons, building him into the ultimate
                            criminal mastermind. As the story unfolds, players will have the chance to make choices that will affect the outcome of the game, and their actions will have consequences on the gameplay and the story. The story will take unexpected
                            turns and players will be constantly challenged to think and react quickly as they navigate the criminal underworld of the city.


                        </p>
                    </div>
                </div>

                <div class="box4 box"><img src="/img/characterDr4.jpg" alt="" class="photoMiddle">

                    <div class="boxT">
                        <p>The player takes on the role of Marco, a young, ambitious and charismatic man from Italy. Marco comes from a traditional Italian mafia family and grew up surrounded by crime and violence. He's familiar with the ways of the organization
                            and has always dreamed of rising through the ranks to become a powerful leader. As the game begins, Marco is sent to the Dominican Republic to represent his family's interests in the island. He's tasked with establishing new
                            connections and expanding the family's influence in the Caribbean country. Marco arrives in the island with a sense of purpose and a burning desire to prove himself to his family. He's determined to make a name for himself
                            and establish the family's dominance in the region. As Marco begins to carry out various missions for the family, such as stealing valuable goods, protecting illegal shipments, and intimidating rival gangs, he quickly proves
                            to be a valuable asset to the organization.

                        </p>

                    </div>


                </div>
                <div class="box5 box">
                    <img src="/img/characterDr5.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>He's able to complete every mission with success, earning the respect of the criminal bosses and the fear of the rivals. As Marco becomes more successful and respected within the organization, he's given more challenging missions
                            and eventually rises through the ranks to become a powerful leader of the organization. But as Marco's ambitions grow, he'll have to navigate the complicated and dangerous world of the mafia, dealing with enemies both within
                            and outside of the organization. He will have to make difficult decisions that will affect the outcome of the story, and his actions will have consequences on the gameplay and the story. Throughout the game, players will experience
                            the gritty and dangerous criminal world of the Dominican Republic through Marco's eyes, They'll see how he establish the dominance of the Italian mafia in the island, the way he navigate the culture and the language, his relationships
                            with the other leaders and how he asserts his power. They'll have to use their wits and violence to achieve their goals and survive the challenges.</p>
                    </div>

                </div>
                <div class="box6 box"><img src="/img/characterDr6.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>The game begins with the player character, a young man named Kenichi, arriving in the Dominican Republic on a mission for the Japanese Yakuza. Kenichi is a skilled martial artist and has a strong sense of loyalty to the Yakuza,
                            but he is also a bit of a wild card and doesn't always follow orders to the letter. Act 1: Kenichi is introduced to the local Yakuza operation, led by a ruthless and cunning Oyabun named Hiro. Kenichi quickly proves himself
                            to be a valuable asset to the organization, carrying out a series of tasks and missions that include stealing valuable goods, extortion, and protecting Yakuza-controlled territory from rival gangs. As Kenichi becomes more involved
                            with the Yakuza, he begins to discover a sinister side to the organization. He discovers that the Yakuza is involved in a variety of illegal activities including human trafficking, drug trafficking, and money laundering. Kenichi
                            starts to question the morality of the organization and its leaders, and he struggles with his own sense of loyalty and duty. Act 2: Kenichi's doubts and questions put him at odds with Hiro and the other Yakuza leaders. They
                            begin to see him as a liability, and they start to plot against him. Kenichi becomes aware of the situation and decides to take action, he tries to use his position to gather evidence and proof of the organization's illegal
                            activities. He starts to infiltrate deeper into the criminal organization. Act 3: With the evidence he's gathered, Kenichi takes a stand against the Yakuza, risking everything to bring the organization down. He confronts Hiro
                            and the other leaders, and a fierce battle ensues. Kenichi's martial arts skills and street smarts help him to come out on top, and he ultimately triumphs over the Yakuza. Conclusion: With the Yakuza in disarray and Hiro and
                            the other leaders in prison, Kenichi is hailed as a hero by the people of the Dominican Republic. He chooses to leave the country, reflecting on his experiences and the things he's learned. The game ends with Kenichi boarding
                            a plane, ready to start a new chapter in his life.</p>

                    </div>


                </div>


                <div class="box7 box"><img src="/img/musclecar.jpeg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p> There are several muscle cars, players can use these cars to race, perform stunts, and participate in various other activities. They also can customize them with various upgrades to improve their performance.</p>

                    </div>
                </div>
                <div class="box8 box"><img src="/img/car2.jpeg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>players also have access to a variety of super cars. These are high-performance vehicles that are known for their speed, acceleration, and handling.hese cars are often used in street races and other high-speed pursuits, and they
                            can be customized with performance upgrades to make them even faster. Some of the super cars in the game are also available in convertibles version, giving players the freedom to enjoy the thrill of high speed with no roof
                            above them.</p>

                    </div>
                </div>
                <div class="box9 box"><img src="/img/car3.jpeg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p> A number of classic cars, which are vehicles that are based on designs from earlier eras. These cars often have a retro or vintage look and feel, and they can be used to explore the game's open-world environment and participate
                            in various activities.</p>

                    </div>
                </div>


                <div class="box10 box"><img src="/img/characterDr8.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>New Sports Street fighting is a feature in the Grand Theft Auto series that allows players to engage in hand-to-hand combat with NPCs or other players. In Grand Theft Auto V, street fighting is a relatively simple and straightforward
                            system that allows players to engage in melee combat using punches, kicks, and other basic moves. Players can target specific body parts of their opponents, such as the head or torso, to deal more damage. They also can use
                            environment objects like a bottle or a bike to use as weapons, as well as using finishing moves to take down the opponent. Street fighting can occur in various locations throughout the game world, both in the public areas and
                            private areas. It also can happen with or without any reason or motivation, sometimes it's a random act of violence, sometimes it's part of a quest, and other times it can happen when the player provoke the NPCs or other players.
                            However, players need to be careful if they are getting involved in street fights, as the police will intervene if they see the fight and may attempt to arrest the player.</p>

                    </div>
                </div>
                <div class="box11 box"><img src="/img/characterDr9.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Players can participate in a minigame called "baseball" that allows them to play a simplified version of the sport using their characters. Players can take control of a single character and play either as the batter or the pitcher,
                            while the other characters in the game will act as the other team. The game is played in a similar fashion to the real-life baseball. As a batter, you will be trying to hit the ball that the pitcher throws, and as a pitcher,
                            you will be trying to throw the ball where the batter can't hit it. Once the ball is hit, you can control the player and try to run to bases. The baseball minigame can be found in the different baseball fields around the game's
                            open-world map. Players can access it by simply walking up to the locked gates and interacting with them. The game can also be played as a single-player game or as a multiplayer game with other players in the session. It's
                            a fun way to take a break from the main missions and activities in the game, and provides a good way to enjoy some friendly competition with other players.

                        </p>

                    </div>
                </div>
                <div class="box12 box"><img src="/img/characterDr10.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Players can still engage in a simplified version of the sport by shooting hoops at various basketball courts scattered around the game's open-world environment. These courts can be found in different neighborhoods and parks throughout
                            the city, and players can interact with them by walking up to the hoop and attempting to make shots. Players can use the default character movement controls to jump and shoot the ball, there's no real rules or scoring system
                            to follow. But still, it can be a good pastime activity to do alone or with friends in multiplayer.</p>

                    </div>
                </div>

                <div class="box13 box"><img src="/img/actionScene1.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Mexicon new spot and mission, In this scenario, the player character is tasked by a Mexican cartel to infiltrate a rival gang's compound located in a small town deep in the desert. The player character is given a cover story, weapons,
                            and intel about the target. As the player approaches the compound, they can see that the rival gang is heavily armed and fortified, so the player needs to use stealth and strategy to infiltrate the compound undetected. Once
                            inside, the player can take out the rival gang members using various weapons such as a silenced pistol, a shotgun, or a machete to maintain the cover story. The player must avoid detection by the guards, cameras and alarms.
                            Once the mission objective is completed, the player can make a choice whether to escape or fight their way out.</p>

                    </div>
                </div>
                <div class="box14 box"><img src="/img/actionScene2.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Haiti new spot and mission, In this scenario, the player character is a member of a Haitian street gang, based in the capital city of Port-au-Prince. The player is tasked by the leader of the gang to reclaim control of a neighborhood
                            that was recently taken over by a rival gang. The player needs to navigate the crowded and chaotic streets, which are filled with vendors, pedestrians and other hazards. As the player character approaches the neighborhood,
                            they can see that the rival gang has set up roadblocks, and guards armed with automatic weapons are patrolling the streets. The player needs to use stealth and parkour to get past the guards, avoiding detection. Once inside
                            the neighborhood, the player must take out the rival gang members using various weapons, such as knives, machetes, and pistols. As the player completes objectives, the rival gang members will become more aggressive and desperate.
                            The player may also need to deal with hostile locals, police and other entities that may intervene. After securing the neighborhood, the player can choose to defend it from the rival gang's counter attack or move on to the
                            next objective.</p>

                    </div>
                </div>
                <div class="box15 box"><img src="/img/actionScene3.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Argentina new spot and mission, In this scenario, the player character is a professional driver, based in Buenos Aires, Argentina's capital city. The player is tasked to drive through the city, delivering a package to a specific
                            location while evading the police. As the player character approaches the starting point of the mission, they can see that the police are on high alert and roadblocks are set up throughout the city. The player needs to use
                            their driving skills to navigate through the busy streets, avoiding detection from the police. The player can use various vehicles, from sports cars, to motorbikes and delivery trucks, to make their way through the city. As
                            the player progresses through the mission, the police will become more aggressive in their pursuit, and the player must use their knowledge of the city to outsmart them and shake them off. Along the way, the player also needs
                            to avoid civilian traffic and other obstacles, such as construction sites and roadworks. The player also needs to be mindful of the time, as the package needs to be delivered in a specific timeframe. After successfully delivering
                            the package, the player can escape the city and complete the mission.</p>

                    </div>
                </div>

                <div class="box16 box"><img src="/img/characterDr11.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Jamaica new spot and mission, In this scenario, the player character is a member of a Jamaican street gang, based in the capital city of Kingston. The player is tasked by the leader of the gang to reclaim control of a neighborhood
                            that was recently taken over by a rival gang. The player needs to navigate through the colorful and vibrant streets, which are filled with music, street vendors, and friendly locals. As the player character approaches the neighborhood,
                            they can see that the rival gang has set up roadblocks and guards armed with improvised weapons are patrolling the streets. The player needs to use stealth, parkour and their knowledge of the area to get past the guards, avoiding
                            detection. Once inside the neighborhood, the player must take out the rival gang members using various weapons, such as machetes, rocks, and slingshots. As the player completes objectives, the rival gang members will become
                            more aggressive and desperate. The player may also need to deal with hostile locals and police that may intervene. After securing the neighborhood, the player can choose to defend it from the rival gang's counter attack or
                            move on to the next objective.</p>

                    </div>
                </div>
                <div class="box17 box"><img src="/img/characterDr12.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Puerto Rico new spot and mission, In this scenario, the player character is a professional thief, based in San Juan, Puerto Rico's capital city. The player is tasked to steal a valuable item from a high-security building in the
                            city. As the player character approaches the building, they can see that the building is surrounded by security guards and surveillance cameras. The player needs to use stealth and hacking skills to infiltrate the building,
                            avoiding detection from the security guards and cameras. They can use various gadgets and tools, such as lockpicks, EMPs, and fake ID's to bypass the security measures. Once inside the building, the player must navigate through
                            the complex and find the valuable item while avoiding the guards and alarm triggers. As the player progresses through the mission, they must use their knowledge of the building to stay hidden and avoid detection. After successfully
                            stealing the item, the player can escape the building and complete the mission.</p>

                    </div>
                </div>
                <div class="box18 box"><img src="/img/characterDr13.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Colombia new spot and mission, In this scenario, the player character is a member of a Colombian special operations unit, based in the capital city of Bogotá. The player is tasked with infiltrating a guerrilla group's jungle camp
                            deep in the Colombian wilderness. The player needs to navigate through the dense jungle, which is filled with dangerous animals and harsh weather. As the player character approaches the camp, they can see that the guerrilla
                            group is heavily armed and fortified. The player needs to use stealth and strategy to infiltrate the camp undetected. Once inside, the player must gather intel, sabotage equipment and take out the guerrilla members using various
                            weapons, such as silenced weapons, explosives, and hand-to-hand combat. As the player progresses through the mission, they must also deal with hostile wildlife, rugged terrain and other hazards. After completing the mission
                            objectives, the player must fight their way out or wait for extraction.</p>

                    </div>
                </div>

                <div class="box19 box"><img src="/img/actionVehiculos1.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>underwater exploration, with multiple place to explores</p>

                    </div>
                </div>
                <div class="box20 box"><img src="/img/actionVehiculos2.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi praesentium nihil optio, ipsum facilis perferendis cupiditate dignissimos totam reiciendis quae. Omnis, explicabo illo ea ut commodi cum eos dolorem! Voluptas.</p>

                    </div>
                </div>
                <div class="box21 box"><img src="/img/actionVehiculos3.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat praesentium officia obcaecati quia quas iste minus, rerum enim consectetur reprehenderit, libero laborum eius perspiciatis impedit in illum a quisquam.</p>

                    </div>
                </div>

                <div class="box22 box"><img src="/img/actionVehiculos4.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, numquam voluptatem. Aperiam, eaque? Voluptatem quibusdam neque in iusto commodi cum et itaque sequi ducimus sint nobis accusamus vero, officia sed!</p>

                    </div>
                </div>
                <div class="box23 box"><img src="/img/actionVehiculos5.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi praesentium nihil optio, ipsum facilis perferendis cupiditate dignissimos totam reiciendis quae. Omnis, explicabo illo ea ut commodi cum eos dolorem! Voluptas.</p>

                    </div>
                </div>
                <div class="box24 box"><img src="/img/actionVehiculos6.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat praesentium officia obcaecati quia quas iste minus, rerum enim consectetur reprehenderit, libero laborum eius perspiciatis impedit in illum a quisquam.</p>

                    </div>
                </div>

                <div class="box25 box"><img src="/img/actionVehiculos7.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, numquam voluptatem. Aperiam, eaque? Voluptatem quibusdam neque in iusto commodi cum et itaque sequi ducimus sint nobis accusamus vero, officia sed!</p>

                    </div>
                </div>
                <div class="box26 box"><img src="/img/actionVehiculos8.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi praesentium nihil optio, ipsum facilis perferendis cupiditate dignissimos totam reiciendis quae. Omnis, explicabo illo ea ut commodi cum eos dolorem! Voluptas.</p>

                    </div>
                </div>
                <div class="box27 box"><img src="/img/actionVehiculos9.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem fugiat praesentium officia obcaecati quia quas iste minus, rerum enim consectetur reprehenderit, libero laborum eius perspiciatis impedit in illum a quisquam.</p>

                    </div>
                </div>


                <div class="box28 box"><img src="/img/charactersVeriants1.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>it features a diverse range of neighborhoods, each with its own unique culture, architecture, and population.</p>

                    </div>
                </div>
                <div class="box29 box"><img src="/img/charactersVeriants2.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>unique is its satirical take on American culture. Throughout the game, players will encounter a wide variety of characters and settings that are meant to mock and satirize different aspects of American society. This includes parodies
                            of celebrities, politicians, pop culture, and even other video games.</p>

                    </div>
                </div>
                <div class="box30 box"><img src="/img/VehiculosVeriants1.jpg" alt="" class="photoMiddle">
                    <div class="boxT">
                        <p>he game also features a wide range of vehicles, weapons, and equipment that are meant to satirize real-world counterparts.</p>

                    </div>
                </div>


            </div>













        </div>
    </div>

    <footer>

    </footer>
    </body>

</html>