<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap" rel="stylesheet">
</head>



<style>
     
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .logo {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: black;
        color: white;
        font-size: 3rem;
    }
    
    .logo h1 {
        align-items: center;
        margin: auto;
    }
    
    .header {
        width: 100%;
        height: 100px;
    }
    
    .container {
        /* display: flex;
        height: 100%;
        width: 100%; */
        line-height: 1.5;
        
        margin: auto;
    }
    
    #photoLogo {
        height: 300px;
        padding: 20px;
        border-radius: 30px;
        float: left;
    }
    
    .box {
        /* border: solid 1px black;
        width: 100%;
        height: 250px;
        background-color: deeppink; */
    }
    
    .barnavegador {
        background-color: black;
        color: white;
        width: 100%;
        height: 80px;
    }
    
    .barnavegador>ul {
        display: flex;
        justify-content: center;
    }
    
    .barnavegador>ul>li {
        margin: 10px;
        padding-top: 10px;
        font-size: 1.2rem;
        list-style: none;
        cursor: pointer;
    }
    
    .barnavegador>ul>li:hover {
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
    }
    /* .photoMiddle {
        
        width: 200px;
        height: 200px;
        margin-top: 50px;
        margin-right: 20px;
        border: 1px solid black;
       
    } */
    
    .introText {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        grid-column: 1 / 3;
        text-justify: inter;
    }
    
    .introText>p {
        font-family: "Times New Roman", serif;
        font-size: 18px;
        line-height: 1.5;
    }
    
    .box {
        height: 750px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        /* overflow: hidden;
        overflow: scroll; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
    }
    
    .photoMiddle {
        width: 100%;
        height: 350px;
        margin: 20px auto;
    }
    
     ::-webkit-scrollbar {
        width: 0.2em;
        background-color: transparent;
    }
    
    .boxT {
        overflow: hidden;
        overflow: scroll;
        overflow-x: hidden;
        font-size: 1em;
        text-align: justify;
        word-spacing: -2px;
        line-height: 1.4;
            
      
     
    }
    
    .logo>h1>p {
        text-align: center;
        font-size: 0.8em;
        font-family: 'Overlock SC', cursive;
        display: inline-block;
    }
    
    .logo>h1 {
        text-align: center;
    }
    
    footer {
        padding-top: 20px;
        margin-top: 5px;
        height: 1000px;
        width: 100%;
        background-color: black;
        color: #0fa;
        text-align: justify;
    }
    
    #prompt-box {
        width: 30%;
        height: auto;
        padding: 20px;
        border: 2px solid #F59B45;
        border-radius: 10px;
        background-color: #FDF5E6;
        font-family: Arial, sans-serif;
        font-size: 18px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }
    
    #prompt-box h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #F59B45;
        
    }
    
    #prompt-box button {
        width: 100px;
        height: 40px;
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #F59B45;
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
    }

    /* body {
        filter:blur(6px);
     } */
</style>

<body onload="showPrompt()">
   
    <div>

        <div class="logo">

            <h1>Grand Theft Auto VIII
                <p>Caribbean Paradise </p>
            </h1>


            <img src="/img/characterDr.jpg" alt="" id="photoLogo">


        </div>

        <div class="header">
            <nav class="barnavegador">
                <ul>
                    <li>
                        <a href=""></a>Home
                    </li>
                    <li>
                        <a href=""></a>Contact us
                    </li>
                    <li>
                        <a href=""></a>About
                    </li>
                </ul>
            </nav>

        </div>

        <div>

            <div class="container">

                <div class="introText">

                    <div class="box1 box">
                        <img src="/img/characterDr2.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>"Welcome to Santiago de los Caballeros, One of the largest city in the Dominican Republic. My name is Manuel, but everyone just calls me "Manny." I grew up on the streets of this city, learning how to survive in a place where
                                the only law is the law of the jungle. I learned how to hustle, how to fight, and how to make a quick peso any way I could. But as I got older, I realized that there was more to life than just scrapping and stealing. I
                                wanted something more - something bigger. So I turned to the only thing I knew how to do well: crime. I worked my way up through the ranks, building a network of connections and allies that helped me take control of the
                                city's underground. Now, I'm the most powerful man in Santo Domingo. But with great power comes great danger, and there are always those who want to take me down. I'll do whatever it takes to protect my empire and my people.
                                Are you ready to join me on this wild ride? Let's do this."</p>

                        </div>

                    </div>

                    <div class="box2 box">
                        <img src="/img/characterDr7.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>
                                Lala is a strong-willed and independent woman who has had to fight for everything she's achieved in life. She grew up in a tough neighborhood, and from a young age, she learned to be resourceful and self-reliant. She's fiercely intelligent and driven,
                                and she's not afraid to speak her mind or take risks. In terms of appearance, Lala is in her late twenties or early thirties. She has long, curly black hair that she usually keeps tied back, and her striking dark eyes are
                                always filled with intensity and focus. She's tall and athletic, with a fit and toned body. She has a bold sense of fashion, often wearing bold colors and patterns. Lala is a talented hacker and a tech-savvy person, she's
                                a woman of many talents, but her real passion is for social justice. She is a vigilante hacker that uses her skills to take down corrupt organizations and individuals, using her hacking skills and network of contacts to
                                uncover information and evidence that can be used to bring them to justice. She's a force to be reckoned with, and her enemies know to fear her. Lala's past has made her a bit of a loner, and she has trust issues and is
                                reluctant to form close relationships. But when she does form a connection with someone, she'll go to great lengths to protect and support them. She's fiercely loyal to those she cares about and will do anything to keep
                                them safe. She is a complex and multifaceted character, with a rich backstory, and her actions will be influenced by her personal beliefs and experiences. The players will have the opportunity to interact with Lala throughout
                                the game, make choices that will affect the outcome of the story, and the player's actions will have consequences in the gameplay and the story
                            </p>
                        </div>
                    </div>

                    <div class="box3 box"><img src="/img/characterDr3.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>
                                The story follows Manny, a small-time crook and street hustler, as he works his way up in the criminal underworld of the city. Manny is a master of deception and manipulation, using his wit and charm to get what he wants. He's always looking for the next
                                big score, and he'll do whatever it takes to get it. At the beginning of the game, Manny is working with his crew, a group of other small-time criminals who share his love of the criminal life. Together, they plan and execute
                                a series of heists and scams, each one more daring and ambitious than the last. Manny's quick thinking and leadership skills help the crew to pull off some major scores, earning them a reputation as the most successful
                                criminal group in the city. As Manny's fame and fortune grow, so do his ambitions. He starts to crave more power and influence, and he begins to make connections with some of the city's most powerful and dangerous criminal
                                organizations. Manny's rise to the top is not without its challenges, as he faces off against rival gangs, corrupt politicians, and ruthless law enforcement. But Manny is always one step ahead, using his intelligence and
                                cunning to outsmart his enemies and solidify his position as a leader in the criminal underworld. Throughout the game, players will have the opportunity to experience the gritty and dangerous criminal world of the city
                                through Manny's eyes. They'll be able to carry out a variety of missions, from heists and scams to underground street racing and illegal arms dealing. They'll also have the chance to customize Manny's appearance and weapons,
                                building him into the ultimate criminal mastermind. As the story unfolds, players will have the chance to make choices that will affect the outcome of the game, and their actions will have consequences on the gameplay and
                                the story. The story will take unexpected turns and players will be constantly challenged to think and react quickly as they navigate the criminal underworld of the city.


                            </p>
                        </div>
                    </div>

                    <div class="box4 box"><img src="/img/characterDr4.jpg" alt="" class="photoMiddle">

                        <div class="boxT">
                            <p>The player takes on the role of Marco, a young, ambitious and charismatic man from Italy. Marco comes from a traditional Italian mafia family and grew up surrounded by crime and violence. He's familiar with the ways of the
                                organization and has always dreamed of rising through the ranks to become a powerful leader. As the game begins, Marco is sent to the Dominican Republic to represent his family's interests in the island. He's tasked with
                                establishing new connections and expanding the family's influence in the Caribbean country. Marco arrives in the island with a sense of purpose and a burning desire to prove himself to his family. He's determined to make
                                a name for himself and establish the family's dominance in the region. As Marco begins to carry out various missions for the family, such as stealing valuable goods, protecting illegal shipments, and intimidating rival
                                gangs, he quickly proves to be a valuable asset to the organization.

                            </p>

                        </div>


                    </div>
                    <div class="box5 box">
                        <img src="/img/characterDr5.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>He's able to complete every mission with success, earning the respect of the criminal bosses and the fear of the rivals. As Marco becomes more successful and respected within the organization, he's given more challenging missions
                                and eventually rises through the ranks to become a powerful leader of the organization. But as Marco's ambitions grow, he'll have to navigate the complicated and dangerous world of the mafia, dealing with enemies both within
                                and outside of the organization. He will have to make difficult decisions that will affect the outcome of the story, and his actions will have consequences on the gameplay and the story. Throughout the game, players will
                                experience the gritty and dangerous criminal world of the Dominican Republic through Marco's eyes, They'll see how he establish the dominance of the Italian mafia in the island, the way he navigate the culture and the language,
                                his relationships with the other leaders and how he asserts his power. They'll have to use their wits and violence to achieve their goals and survive the challenges.</p>
                        </div>

                    </div>
                    <div class="box6 box"><img src="/img/characterDr6.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>The game begins with the player character, a young man named Kenichi, arriving in the Dominican Republic on a mission for the Japanese Yakuza. Kenichi is a skilled martial artist and has a strong sense of loyalty to the Yakuza,
                                but he is also a bit of a wild card and doesn't always follow orders to the letter. Kenichi is going to dominican republic to expand yakuza the criminal organization.Kenichi is introduced to the local Yakuza operation,
                                led by a ruthless and cunning Oyabun named Hiro. Kenichi quickly proves himself to be a valuable asset to the organization, carrying out a series of tasks and missions that include stealing valuable goods, extortion, and
                                protecting Yakuza-controlled territory from rival gangs in the Dominican Republic. As Kenichi becomes more involved with the Yakuza, he begins to discover a sinister side to the organization. He discovers that the Yakuza
                                is involved in a variety of illegal activities including human trafficking, drug trafficking, and money laundering. Kenichi starts to question the morality of the organization and its leaders, and he struggles with his
                                own sense of loyalty and duty. Kenichi's doubts and questions put him at odds with Hiro and the other Yakuza leaders. They begin to see him as a liability, and they start to plot against him. Kenichi becomes aware of the
                                situation and decides to take action against the organization.Kenichi takes a stand against the Yakuza, risking everything to bring the organization down. He confronts Hiro and the other leaders, and a fierce battle ensues.
                            </p>

                        </div>


                    </div>


                    <div class="box7 box"><img src="/img/musclecar.jpeg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p> There are several muscle cars, players can use these cars to race, perform stunts, and participate in various other activities. They also can customize them with various upgrades to improve their performance.</p>

                        </div>
                    </div>
                    <div class="box8 box"><img src="/img/car2.jpeg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>players also have access to a variety of super cars. These are high-performance vehicles that are known for their speed, acceleration, and handling.hese cars are often used in street races and other high-speed pursuits, and
                                they can be customized with performance upgrades to make them even faster. Some of the super cars in the game are also available in convertibles version, giving players the freedom to enjoy the thrill of high speed with
                                no roof above them.</p>

                        </div>
                    </div>
                    <div class="box9 box"><img src="/img/car3.jpeg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p> A number of classic cars, which are vehicles that are based on designs from earlier eras. These cars often have a retro or vintage look and feel, and they can be used to explore the game's open-world environment and participate
                                in various activities.</p>

                        </div>
                    </div>


                    <div class="box10 box"><img src="/img/characterDr8.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>New Sports Street fighting is a feature in the Grand Theft Auto series that allows players to engage in hand-to-hand combat with NPCs or other players. In Grand Theft Auto V, street fighting is a relatively simple and straightforward
                                system that allows players to engage in melee combat using punches, kicks, and other basic moves. Players can target specific body parts of their opponents, such as the head or torso, to deal more damage. They also can
                                use environment objects like a bottle or a bike to use as weapons, as well as using finishing moves to take down the opponent. Street fighting can occur in various locations throughout the game world, both in the public
                                areas and private areas. It also can happen with or without any reason or motivation, sometimes it's a random act of violence, sometimes it's part of a quest, and other times it can happen when the player provoke the NPCs
                                or other players. However, players need to be careful if they are getting involved in street fights, as the police will intervene if they see the fight and may attempt to arrest the player.</p>

                        </div>
                    </div>
                    <div class="box11 box"><img src="/img/characterDr9.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Players can participate in a minigame called "baseball" that allows them to play a simplified version of the sport using their characters. Players can take control of a single character and play either as the batter or the
                                pitcher, while the other characters in the game will act as the other team. The game is played in a similar fashion to the real-life baseball. As a batter, you will be trying to hit the ball that the pitcher throws, and
                                as a pitcher, you will be trying to throw the ball where the batter can't hit it. Once the ball is hit, you can control the player and try to run to bases. The baseball minigame can be found in the different baseball fields
                                around the game's open-world map. Players can access it by simply walking up to the locked gates and interacting with them. The game can also be played as a single-player game or as a multiplayer game with other players
                                in the session. It's a fun way to take a break from the main missions and activities in the game, and provides a good way to enjoy some friendly competition with other players.

                            </p>

                        </div>
                    </div>
                    <div class="box12 box"><img src="/img/characterDr10.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Players can still engage in a simplified version of the sport by shooting hoops at various basketball courts scattered around the game's open-world environment. These courts can be found in different neighborhoods and parks
                                throughout the city, and players can interact with them by walking up to the hoop and attempting to make shots. Players can use the default character movement controls to jump and shoot the ball, there's no real rules or
                                scoring system to follow. But still, it can be a good pastime activity to do alone or with friends in multiplayer.
                            </p>

                        </div>
                    </div>

                    <div class="box13 box"><img src="/img/actionScene1.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Mexicon new spot and mission, In this scenario, the player character is tasked by a Mexican cartel to infiltrate a rival gang's compound located in a small town deep in the desert. The player character is given a cover story,
                                weapons, and intel about the target. As the player approaches the compound, they can see that the rival gang is heavily armed and fortified, so the player needs to use stealth and strategy to infiltrate the compound undetected.
                                Once inside, the player can take out the rival gang members using various weapons such as a silenced pistol, a shotgun, or a machete to maintain the cover story. The player must avoid detection by the guards, cameras and
                                alarms. Once the mission objective is completed, the player can make a choice whether to escape or fight their way out.</p>

                        </div>
                    </div>
                    <div class="box14 box"><img src="/img/actionScene2.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Haiti new spot and mission, In this scenario, the player character is a member of a Haitian street gang, based in the capital city of Port-au-Prince. The player is tasked by the leader of the gang to reclaim control of a neighborhood
                                that was recently taken over by a rival gang. The player needs to navigate the crowded and chaotic streets, which are filled with vendors, pedestrians and other hazards. As the player character approaches the neighborhood,
                                they can see that the rival gang has set up roadblocks, and guards armed with automatic weapons are patrolling the streets. The player needs to use stealth and parkour to get past the guards, avoiding detection. Once inside
                                the neighborhood, the player must take out the rival gang members using various weapons, such as knives, machetes, and pistols. As the player completes objectives, the rival gang members will become more aggressive and
                                desperate. The player may also need to deal with hostile locals, police and other entities that may intervene. After securing the neighborhood, the player can choose to defend it from the rival gang's counter attack or
                                move on to the next objective.</p>

                        </div>
                    </div>
                    <div class="box15 box"><img src="/img/actionScene3.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Argentina new spot and mission, In this scenario, the player character is a professional driver, based in Buenos Aires, Argentina's capital city. The player is tasked to drive through the city, delivering a package to a specific
                                location while evading the police. As the player character approaches the starting point of the mission, they can see that the police are on high alert and roadblocks are set up throughout the city. The player needs to
                                use their driving skills to navigate through the busy streets, avoiding detection from the police. The player can use various vehicles, from sports cars, to motorbikes and delivery trucks, to make their way through the
                                city. As the player progresses through the mission, the police will become more aggressive in their pursuit, and the player must use their knowledge of the city to outsmart them and shake them off. Along the way, the player
                                also needs to avoid civilian traffic and other obstacles, such as construction sites and roadworks. The player also needs to be mindful of the time, as the package needs to be delivered in a specific timeframe. After successfully
                                delivering the package, the player can escape the city and complete the mission.</p>

                        </div>
                    </div>

                    <div class="box16 box"><img src="/img/characterDr11.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Jamaica new spot and mission, In this scenario, the player character is a member of a Jamaican street gang, based in the capital city of Kingston. The player is tasked by the leader of the gang to reclaim control of a neighborhood
                                that was recently taken over by a rival gang. The player needs to navigate through the colorful and vibrant streets, which are filled with music, street vendors, and friendly locals. As the player character approaches the
                                neighborhood, they can see that the rival gang has set up roadblocks and guards armed with improvised weapons are patrolling the streets. The player needs to use stealth, parkour and their knowledge of the area to get past
                                the guards, avoiding detection. Once inside the neighborhood, the player must take out the rival gang members using various weapons, such as machetes, rocks, and slingshots. As the player completes objectives, the rival
                                gang members will become more aggressive and desperate. The player may also need to deal with hostile locals and police that may intervene. After securing the neighborhood, the player can choose to defend it from the rival
                                gang's counter attack or move on to the next objective.</p>

                        </div>
                    </div>
                    <div class="box17 box"><img src="/img/characterDr12.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Puerto Rico new spot and mission, In this scenario, the player character is a professional thief, based in San Juan, Puerto Rico's capital city. The player is tasked to steal a valuable item from a high-security building in
                                the city. As the player character approaches the building, they can see that the building is surrounded by security guards and surveillance cameras. The player needs to use stealth and hacking skills to infiltrate the building,
                                avoiding detection from the security guards and cameras. They can use various gadgets and tools, such as lockpicks, EMPs, and fake ID's to bypass the security measures. Once inside the building, the player must navigate
                                through the complex and find the valuable item while avoiding the guards and alarm triggers. As the player progresses through the mission, they must use their knowledge of the building to stay hidden and avoid detection.
                                After successfully stealing the item, the player can escape the building and complete the mission.</p>

                        </div>
                    </div>
                    <div class="box18 box"><img src="/img/characterDr13.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Colombia new spot and mission, In this scenario, the player character is a member of a Colombian special operations unit, based in the capital city of Bogotá. The player is tasked with infiltrating a guerrilla group's jungle
                                camp deep in the Colombian wilderness. The player needs to navigate through the dense jungle, which is filled with dangerous animals and harsh weather. As the player character approaches the camp, they can see that the
                                guerrilla group is heavily armed and fortified. The player needs to use stealth and strategy to infiltrate the camp undetected. Once inside, the player must gather intel, sabotage equipment and take out the guerrilla members
                                using various weapons, such as silenced weapons, explosives, and hand-to-hand combat. As the player progresses through the mission, they must also deal with hostile wildlife, rugged terrain and other hazards. After completing
                                the mission objectives, the player must fight their way out or wait for extraction.</p>

                        </div>
                    </div>

                    <div class="box19 box"><img src="/img/actionVehiculos1.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Welcome to the Caribbean, where the ocean is a central part of the new activities available to you and your crew. In this video game, you'll have the opportunity to explore the Caribbean seas and islands in a variety of ways.
                                One of the most exciting activities you can do is to take a ride on a yacht. Whether you're cruising around the open water or anchor in a secluded bay, a yacht offers the perfect blend of luxury and adventure. You'll be
                                able to take in the stunning views of the Caribbean as you relax on deck, and you may even spot some dolphins or other marine life swimming nearby. Another thrilling activity you can do in the Caribbean is to ride a jet
                                ski. These high-speed water vehicles allow you to zip through the water and explore all the nooks and crannies of the islands. You'll be able to navigate through narrow channels, race over the waves, and stop to check out
                                hidden beaches. Cruising around the Caribbean on a boat is another activity that you can do. There are plenty of boats to choose from, like large cruise ships, speed boats and catamaran. Each option give a different experience
                                and you can select the one that is more suitable to your needs, whether you want a more relaxing trip or a more adventurous one. As part of the adventure, there will be plenty of places to explore. The Caribbean is home
                                to many beautiful islands, each with its own unique culture and history. You can visit the famous tourist destinations, like Jamaica and the Bahamas, or go off the beaten path and discover more remote islands. When you're
                                not exploring the Caribbean by water, you'll be able to take part in other activities on land. You could go on a jungle trek to discover exotic wildlife, visit a local market to shop for souvenirs, or simply relax on a
                                pristine beach.</p>

                        </div>
                    </div>
                    <div class="box20 box"><img src="/img/actionVehiculos2.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Racing and chasing by the police is a popular theme in video games, offering players the thrill of high-speed pursuit and the excitement of evading capture. The objective of these games is usually to race through the city streets,
                                navigating through traffic and avoiding obstacles while being chased by the police. Players typically control a high-performance vehicle such as a sports car or motorcycle, and can often customize their vehicle with upgrades
                                and modifications to improve their performance and handling. The gameplay of racing and chasing games often emphasizes speed and agility, with players having to make quick decisions and take sharp turns to outrun the pursuing
                                police cars.

                            </p>

                        </div>
                    </div>
                    <div class="box21 box"><img src="/img/actionVehiculos3.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>The police AI is typically programmed to be relentless, using various tactics like roadblocks, spike strips and helicopter to apprehend the player. In addition, the games often include a variety of obstacles, like traffic or
                                other racers, to make the chase more challenging and realistic. The game can also include power-ups to help players escape the police, like nitrous boost, EMP, or smoke screen. The graphics and sound effects in these games
                                are usually designed to create a sense of realism and immersion, with detailed environments, realistic car models and intense sound effects. There is usually a variety of game modes available, like the classic arcade mode,
                                and a more in-depth career mode that allows players to unlock new cars, tracks and challenges. Overall, Racing and chasing by the police video games offer players the opportunity to experience the thrill of high-speed pursuit
                                and the excitement of evading capture in a realistic and immersive environment. These games appeal to a wide range of players, from those who enjoy the action and adrenaline of racing games to those who are fans of the
                                police chase genre.</p>

                        </div>
                    </div>

                    <div class="box22 box"><img src="/img/actionVehiculos4.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Underwater exploration video games offer players the chance to discover the depths of the ocean and explore its diverse ecosystems. These games typically feature a wide variety of environments to explore, from coral reefs and
                                shipwrecks to hydrothermal vents and undersea caves. Players can take control of submarines, scuba diving gear, and even underwater vehicles to move around and interact with the environment. As players explore the depths,
                                they'll encounter a wide variety of marine life, including fish, sharks, whales, and other sea creatures. Some games also feature historical and scientific elements, allowing players to discover and learn about shipwrecks,
                                ancient ruins, and other underwater phenomena. The games usually have different levels of difficulties and the level of realism, some are more arcade-like, while others offer a more realistic and accurate underwater experience.
                                Underwater exploration games allow players to experience the wonder and mystery of the ocean without ever getting wet, and open up a whole new world of adventure and discovery</p>

                        </div>
                    </div>
                    <div class="box23 box"><img src="/img/actionVehiculos5.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Helicopter, airplane, and drone video games offer players the opportunity to take control of these vehicles and experience the thrill of flight. These games come in a variety of genres, from flight simulators to action-packed
                                arcade games. Helicopter games usually focus on vertical flight and hovering which allows players to carry out a variety of missions such as rescue operation, air ambulance, and air assault. Players can control the various
                                controls of the helicopter like collective, cyclic, and anti-torque pedals to perform actions like take off, hovering and landing</p>

                        </div>
                    </div>
                    <div class="box24 box"><img src="/img/actionVehiculos6.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Airplane games cover wider range of flight scenarios, with different types of aircraft such as fighter jets, commercial airliner, and even space shuttles. These games give players a chance to experience the full range of flight,
                                from takeoff and landing, to flying through clouds and performing aerial maneuvers Drones, on the other hand, are versatile flying machines that can be used for reconnaissance, surveillance, and reconnaissance and can be
                                used in a variety of terrains. Drone games give players the chance to experience different perspectives while giving them control over the machine with the option to change camera angles, manipulate speed and maneuverability.</p>

                        </div>
                    </div>

                    <div class="box25 box"><img src="/img/actionVehiculos7.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>Overall, helicopter, airplane, and drone video games offer players a chance to experience the thrill of flight, from the excitement of aerial combat to the satisfaction of completing a challenging mission. These games appeal
                                to a wide range of players, from aviation enthusiasts to those who simply enjoy the thrill of flying.
                            </p>

                        </div>
                    </div>
                    <div class="box26 box"><img src="/img/actionVehiculos8.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>these powerful machines and experience the thrill of military combat. These games come in a variety of genres, from realistic simulations to action-packed arcade games. Players take control of different type of army vehicles
                                such as tanks, armored personnel carriers, and truck, and engage in various types of missions such as reconnaissance, assaults and defense operations. The games usually include realistic physics and mechanics, detailed
                                models of different types of tanks, trucks, and other military vehicles.</p>

                        </div>
                    </div>
                    <div class="box27 box"><img src="/img/actionVehiculos9.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>These games often feature a wide range of weapons, from machine guns to rocket launchers, and allow players to customize their vehicles with different upgrades and equipment. The gameplay usually includes different levels of
                                realism, some games are more arcade-like, while others offer a more realistic and accurate combat experience. Overall, army vehicle, truck, and tank video games offer players the chance to experience the thrill of military
                                combat and the satisfaction of controlling powerful machines. These games appeal to a wide range of players, from military enthusiasts to those who simply enjoy action and strategy games.</p>

                        </div>
                    </div>


                    <div class="box28 box"><img src="/img/charactersVeriants1.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>In this video game, players will have the opportunity to explore a diverse range of neighborhoods, each with its own unique culture, architecture, and population. From bustling city centers to quiet residential areas, players
                                will be able to discover the diversity and richness of urban life in this game. The neighborhoods in the game will be diverse and varied, featuring different architectural styles and cultural influences. Players might find
                                themselves exploring historic districts with grand Victorian homes, or modern high-rise buildings in a bustling downtown area. Each neighborhood will have its own character and atmosphere, making them feel like different
                                worlds. Players will also be able to interact with the inhabitants of the neighborhoods they explore. They will come across a wide variety of NPCs (non-playable characters), each with their own personalities and stories.
                                Players may interact with them in different ways, such as talking to them to uncover more information about the place, or buying goods and services. This can make the exploration of the neighborhood more interactive and
                                immersive. Additionally, each neighborhood will have its own unique culture and population. Players will be able to experience different cultural festivals, events, and activities that reflect the diversity of the neighborhoods.
                                The inhabitants of each neighborhood will have distinct characteristics and behaviors which will make the player feel like they are in a completely different place. Overall, this video game offers a unique and diverse range
                                of neighborhoods for players to explore, each with its own unique culture, architecture, and population. This allows players to experience the diversity and richness of urban life and interact with a wide variety of NPCs,
                                making the game a highly immersive and engaging experience.




                            </p>

                        </div>
                    </div>
                    <div class="box29 box"><img src="/img/charactersVeriants2.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>The unique aspect of this video game is its satirical approach to American culture. Throughout the gameplay, players will encounter a wide range of characters and settings that satirize and mock different aspects of American
                                society. This includes parodies of celebrities, politicians, pop culture, and other video games. The game is created in a way to entertain players by making fun of cultural norms, societal values and other prominent aspects
                                of America. The satirical take on American culture is a fresh and unique approach to the video game genre, and it creates an interesting and engaging experience for players. Instead of following a serious storyline, players
                                will explore a fictional world filled with humorous and exaggerated representations of real-life people and events. This approach can appeal to players who are looking for a game that is both entertaining and thought-provoking.
                                In addition, the game features a rich and diverse cast of characters, each with its own unique personality, background and appearance. These characters are not only meant to entertain, but also to challenge the players'
                                perceptions and question the status quo. Overall, the satirical take on American culture in this video game is a unique and fresh approach that makes it stand out among other games. Players will be able to enjoy a unique
                                gameplay experience while also challenging their perceptions and thinking about different aspects of American society.
                            </p>

                        </div>
                    </div>
                    <div class="box30 box"><img src="/img/VehiculosVeriants1.jpg" alt="" class="photoMiddle">
                        <div class="boxT">
                            <p>The game also includes a wide range of vehicles, weapons, and equipment that are crafted to satirize their real-world counterparts. These in-game items are meant to be humorous and exaggerated representations of actual equipment,
                                vehicles and weapons. This satirical approach adds an extra layer of humor and entertainment to the gameplay. Players will have access to a wide variety of vehicles to use, from cars, trucks, boats to helicopters and airplanes,
                                each with their own unique capabilities and special abilities. The weapons featured in the game also take a humorous take, they may have over the top power or looks, but still function like their real-world counterparts.
                                The players can also customize their weapons to suit their playstyle. The equipment, such as armor and gadgets, will also be designed in a satirical manner, their appearance and functionality is inspired by the real-world
                                equivalents but exaggerated for comedic effect. This satirical approach to the game's vehicles, weapons, and equipment adds an extra layer of humor and entertainment to the gameplay, making the game stand out among other
                                games. Overall, the wide range of vehicles, weapons, and equipment that are created to satirize real-world counterparts, adds an unique and entertaining aspect to this video game. Players can expect to have fun and be challenged
                                by the unique and humorous take on real-world equipment, vehicles, and weapons.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        </footer>

</body>
<div id="prompt-box">
    <h2>Notice</h2>
    <p>This website is for educational and development purposes only. By accessing this site, you agree to use it solely for the purpose of learning and developing your web development skills.</p>
    <div class="button-container">
        <button onclick="continueAccess()">OK</button>
        <button onclick="redirectToError()">Cancel</button>
    </div>
</div>

<footer>

    <div class="box31 box">
        <h2>About US</h2>
        <br>
        <p>
            "We are fans of the Grand Theft Auto series and have some exciting ideas that we believe would make for great additions to future game story designs." As fans of the Grand Theft Auto series, we have a lot of passion for the game and its story design.
            We believe that the open-world gameplay and the intricate storylines have set the bar for other games in the genre. We have some ideas for the future of the series that we believe would add even more depth and excitement to the game.
            We envision new characters and storylines that delve deeper into the criminal underbelly of the game's world, as well as new missions and activities that push the limits of what players can do in the game. We also believe that adding
            new weapons, vehicles, and gameplay mechanics would take the game to the next level. Overall, we are excited about the potential of the series and can't wait to see where the developers take it in the future. </p>
        <br>
        <br>
        <br>
        <h2>Web Design by</h2>
        <p> <br>Software Developer <br> Geury Alexander Reyes Rivas. <br><br> Software Developer <br> Engel Noel Berihuete Núñez.
        </p>
        <br>
        <br>


        <h2>Tools</h2>
        <p>
            <ul>
                <li>+Visual Studio Code</li>
                <li>+ChatGPT</li>
                <li>+midjourney</li>
            </ul>
        </p>
        <br>


        <center>
            <h4>ⓒ CopyRight Reserved 2023, Santiago De los Caballeros , Dom. Rep.</h4>
        </center>


    </div>
<script>
    function continueAccess() {
        // Do something when user clicks OK
        // for example you could remove the prompt box from the screen
        document.getElementById("prompt-box").style.display = "none";
    }

    function redirectToError() {
        window.location.href = "https://www.example.com/error";
    }
</script>


</html>